{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if meta_desc %}
    <meta name="description" content="{{ meta_desc }}">
    {% endif %}
    <title>{{ title|default:current_site.name}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'job_board/style.css' %}" />
    {% if link_rss %}
    <link rel="alternate" type="application/rss+xml" href="{{ link_rss }}" />
    {% endif %}
  </head>
  <body>
    {% if current_site.siteconfig.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ current_site.siteconfig.google_analytics }}', 'auto');
      ga('send', 'pageview');

    </script>
    {% endif %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">{{ current_site.name }}</a>
        </div>
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li role="presentation"><a href="{% url 'jobs_index' %}">Jobs</a></li>
            <li role="presentation"><a href="{% url 'categories_index' %}">Categories</a></li>
            <li role="presentation"><a href="{% url 'companies_index' %}">Companies</a></li>
            <li role="presentation"><a href="{% url 'contact' %}">Contact Us</a></li>
            <li role="presentation"><a href="{% url 'jobs_new' %}">Post Job</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li role="presentation"><a href="{% url 'jobs_mine' %}">My Jobs</a></li>
            <li role="presentation"><a href="{% url 'logout' %}?next={% url 'jobs_index' %}">Logout</a></li>
            {% else %}
            <li role="presentation"><a href="{% url 'register' %}">Register</a></li>
            <li role="presentation"><a href="{% url 'login' %}?next={% url 'jobs_index' %}">Login</a></li>
            {% endif %}
            {% if current_site.siteconfig.twitter_user %}
            <li role="presentation" id="twitter-button">
                <a href="https://twitter.com/{{ current_site.siteconfig.twitter_user }}"
                   class="twitter-follow-button"
                   data-show-count="false"
                   data-show-screen-name="false"
                   data-size="small">Follow @{{ current_site.siteconfig.twitter_user }}</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
           </li>
           {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
      <p class="text-center">
        <small><a href="https://github.com/tramcar/tramcar">Powered by Tramcar</a></small>
      </p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
