{% if form.errors %}
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">{{ form.errors|length }} error(s) prevented your resource from being saved</h3>
  </div>
  <div class="panel-body">
    {% if form.non_field_errors %}
    <ul>
    {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {% for field in form %}
    {% if field.errors %}
    {{ field.errors }}
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
