<h4>Markdown Basics</h4>
<table class="table table-condensed">
  <tbody id="markdown">
    <tr>
      <td>_Emphasis_</td><td><em>Emphasis</em></td>
    </tr>
    <tr>
      <td>__Strong Emphasis__</td><td><strong>Strong Emphasis</strong></td>
    </tr>
    <tr>
      <td>&#60;https://example.com&#62;</td><td><a href="https://example.com">https://example.com</a></td>
    </tr>
    <tr>
      <td>[Example](https://example.com)</td><td><a href="https://example.com">Example</a></td>
    </tr>
    <tr>
      <td>&#60;doesnotexist@example.com&#62;</td><td><a href="mailto:doesnotexist@example.com">doesnotexist@example.com</a></td>
    </tr>
    <tr>
      <td>
        * One<br>
        * Two<br>
        * Three<br>
      </td>
      <td>
        <ul>
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
