<h4>Markdown Basics</h4>
<table class="table table-condensed">
  <tbody id="markdown">
    <tr>
      <td>_Emphasis_</td><td><em>Emphasis</em></td>
    </tr>
    <tr>
      <td>__Strong Emphasis__</td><td><strong>Strong Emphasis</strong></td>
    </tr>
    <tr>
      <td>&#60;{{ protocol }}://{{ current_site.domain }}&#62;</td><td><a href="{{ protocol }}://{{ current_site.domain }}">{{ protocol }}://{{ current_site.domain }}</a></td>
    </tr>
    <tr>
      <td>[{{ current_site.name }}]({{ protocol }}://{{ current_site.domain }})</td><td><a href="{{ protocol }}://{{ current_site.domain }}">{{ current_site.name }}</a></td>
    </tr>
    <tr>
      <td>&#60;doesnotexist@{{ current_site.domain }}&#62;</td><td><a href="mailto:doesnotexist@{{ current_site.domain }}">doesnotexist@{{ current_site.domain }}</a></td>
    </tr>
    <tr>
      <td>
        * One<br>
        * Two<br>
        * Three<br>
      </td>
      <td>
        <ul>
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
