{% extends "job_board/_base.html" %}

{% block content %}
{% include "job_board/_header.html" %}
{% if categories %}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Jobs</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    {% for category in categories %}
    <tr>
      <td><a href="{% url 'categories_show_slug' category.id category.slug %}">{{ category.name }}</a></td>
      <td>{{ category.active_jobs.count }}</td>
      <td><a rel="alternate" type="application/rss+xml" href="{% url 'categories_feed' category.id category.slug %}"><i class="fa fa-rss" aria-hidden="true" /></a></td>
    </tr>
    {% endfor %}
  </table>
{% else %}
<p>No categories found.</p>
{% endif %}
{% endblock %}
