{% extends "job_board/_base.html" %}

{% block content %}
{% include "job_board/_header.html" %}
<hr>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>
          <mark>URL</mark>
        </h4>
        <p><a href="{{ company.url }}">{{ company.url }}</a></p>
        {% if company.country %}
        <h4>
          <mark>Headquarters</mark>
        </h4>
        <p>{{ company.country.name }}</p>
        {% endif %}
        {% if company.twitter %}
        <h4>
          <mark>Twitter</mark>
        </h4>
        <p><a href="https://twitter.com/{{ company.twitter }}">{{ company.twitter }}</a></p>
        {% endif %}
        {% if company.user.id == user.id or user.is_staff %}
        <a class="btn btn-default btn-sm" href="{% url 'companies_edit' company.id %}">Edit Company</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h4><mark>Jobs</mark></h4>
    {% if jobs %}
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Title</th>
          <th>Country</th>
          <th class="hidden-xs hidden-sm">Category</th>
          <th>Expired</th>
        </tr>
      </thead>
      {% for job in jobs %}
      <tr>
        <td>{{ job.paid_at|date:'Y-m-d' }}</td>
        <td><a href="{% url 'jobs_show' job.id %}">{{ job.title }}</a></td>
        <td>{{ job.format_country }}</td>
        <td class="hidden-xs hidden-sm">
          <a href="{% url 'categories_show' job.category.id %}"><span class="label label-primary">{{ job.category.name }}</span></a>
        </td>
        <td>
          {% if job.paid_at and not job.expired_at %}
          <span class="label label-success %>">No</span>
          {% elif job.paid_at and job.expired_at %}
          <span class="label label-warning %>">Yes</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>No jobs are available.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
