{% extends "job_board/base.html" %}

{% block content %}
{% include "job_board/errors.html" %}

<form action="{% url 'companies_new' %}" method="post">
  {% csrf_token %}
  {% for field in form %}
  {% if field.is_hidden %}
  {{ form.site }}
  {% else %}
  <div class="form-group">
    {{ field.label_tag }}
    {{ field }}
    <p class="help-block">{{ field.help_text }}</p>
  </div>
  {% endif %}
  {% endfor %}
  <input type="submit" class="btn btn-default" value="Submit" />
</form>
{% endblock %}
