{% extends "job_board/_base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    {% include "job_board/_header.html" %}
  </div>
  <div class="col-md-4"></div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    {% include "job_board/_errors.html" %}

    <form action="{% url 'contact' %}" method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        <p class="help-block">{{ field.help_text }}</p>
      </div>
      {% endfor %}
      <input type="submit" class="btn btn-primary" value="Send" />
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock %}
