{% extends "job_board/_base.html" %}

{% block content %}
{% include "job_board/_header.html" %}
<hr>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ job.company.name }}</h3>
      </div>
      <div class="panel-body">
        <h4><mark>URL</mark></h4>
        <p><a href="{{ job.company.url }}">{{ job.company.url }}</a></p>
        {% if job.company.twitter %}
        <h4><mark>Twitter</mark></h4>
        <p><a href="https://twitter.com/{{ job.company.twitter }}">{{ job.company.twitter }}</a></p>
        {% endif %}
        <a href="{% url 'companies_show_slug' job.company.id job.company.slug %}" title="View all of company's jobs">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </div>
    </div>
    {% if user.id == job.user.id or user.is_staff %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Job Admin</h3>
      </div>
      <div class="panel-body">
        {% if user.is_staff %}
        <h4><mark>Posted By</mark></h4>
        <p>{{ job.user.username }} (UID: {{ job.user.id }})</p>
        {% endif %}
        <h4><mark>Status</mark></h4>
        <p>
          {% if not job.paid_at and not job.expired_at %}
          <span class="label label-warning">Unpaid</span>
          {% elif job.paid_at and not job.expired_at %}
          <span class="label label-success">Paid</span>
          {% elif job.paid_at and job.expired_at %}
          <span class="label label-warning">Expired</span>
          {% endif %}
        </p>
        <div class="btn-group btn-group-sm button-group-margin">
          <a href="{% url 'jobs_edit' job.id %}" class="btn btn-default">Edit</a>
          {% if job.paid_at and not job.expired_at %}
          <a href="{% url 'jobs_expire' job.id %}" class="btn btn-default">Expire</a>
          {% elif not job.paid_at and user.is_staff %}
          <a href="{% url 'jobs_activate' job.id %}" class="btn btn-default">Activate</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="col-md-9">
    {% if not job.paid_at and price > 0 %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Payment is required for this job to become visible</h3>
      </div>
      <div class="panel-body">
        <form action="{% url 'charge_card' %}" method="post" id="payment-form">
          {% csrf_token %}
          <input type="hidden" name='job_id' value='{{ job.id }}'>
          <article>
            <label>
              <span>Price is ${{ price }}</span>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ stripe_publishable_key }}"
                  data-description="{{ job.site.name }} Job Payment"
                  data-amount="{{ price_in_cents }}"
                  data-locale="auto"
                  data-zip-code="true"
                  data-billing-address="true"
                  data-email="{{ request.user.email }}"
                  data-allow-remember-me="false"></script>
        </form>
        {% if tokens > 0 %}
        <form action="{% url 'charge_token' %}" method="post" id="payment-form">
          {% csrf_token %}
          <input type="hidden" name='job_id' value='{{ job.id }}'>
          <button class="stripe-button-el" name="pay-with-token" type="submit">
            <span>Pay with Token</span>
          </button>
        </form>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% if job.paid_at and job.expired_at %}
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Hey there!</strong> This job has expired and may no longer be applicable
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ job.title }}</h3>
      </div>
      <div class="panel-body">
        <h4><mark>Posted</mark></h4>
        <p>{{ post_date|date:'Y-m-d H:i' }}</p>
        <h4><mark>Description</mark></h4>
        <p>{{ job.description_md | safe }}</p>
        <h4><mark>Application Info</mark></h4>
        <p>{{ job.application_info_md | safe }}</p>
        {# If site is remote then we do not indicate that the job is remote since all jobs on that site are remote #}
        {% if not remote %}
          {% if job.remote == "Yes" %}
          <h4><mark>Remote</mark></h4>
          <p>{{ job.remote }}</p>
          {% else %}
          <h4><mark>City</mark></h4>
          <p>{{ job.city }}, {{ job.state }}, {{ job.country }}</p>
          {% endif %}
        {% endif %}
        {% if remote or job.remote == "Yes" %}
          {% if job.country %}
          <h4><mark>Country</mark></h4>
          <p>{{ job.country }}</p>
          {% endif %}
        {% endif %}
        {% if job.location %}
        <h4><mark>Location</mark></h4>
        <p>{{ job.location }}</p>
        {% endif %}
        <h4><mark>Category</mark></h4>
        <p>
          <a href="{% url 'categories_show' job.category.id %}"><span class="label label-primary">{{ job.category.name }}</span></a>
        </p>
        {% if user.id == job.user.id or user.is_staff %}
        <h4><mark>E-mail</mark></h4>
        <p>{{ job.email }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
