{% extends "job_board/_base.html" %}

{% block header %}Login{% endblock %}

{% block content %}
{% include "job_board/_errors.html" %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {% include "job_board/_form_fields.html" %}
  <button type="submit" class="btn btn-default">Login</button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
{% endblock %}
